{% extends 'flatpages/default.html' %}

{% block title %}
<style>
.neonText {
  color: #00FFFF;
  text-shadow:
      0 0 7px #00FFFF,
      0 0 10px #00FFFF,
      0 0 21px #00FFFF,
      0 0 42px #00FFFF,
      0 0 82px #00FFFF,
      0 0 92px #00FFFF,
      0 0 102px #00FFFF,
      0 0 151px #00FFFF;
}
</style>
    <h2 class="neonText animate__animated animate__fadeInDown"><font size="10">Войти в систему</font></h2>
{% endblock title %}

{% block content %}
<div class="text animate__animated animate__fadeInUp" align="center">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<table>
<tr>
    <td><font size="4">{{ form.username.label_tag }}</font></td>
    <td><font size="4">{{ form.username }}</font></td>
</tr>
<tr>
    <td><font size="4">{{ form.password.label_tag }}</font></td>
    <td><font size="4">{{ form.password }}</font></td>
</tr>
</table>
<input type="submit" value="Войти">
</form>
<button> <a href="newsup"> Регистрация </a></button>
</div>
{% endblock %}