{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% block title %}
    <style>
        table.center {
            margin-left: auto;
            margin-right: auto;
        }
        .neonText1 {
            color: #F700FF;
            text-shadow:
                0 0 7px #F700FF,
                0 0 10px #F700FF,
                0 0 21px #F700FF,
                0 0 42px #B300FF,
                0 0 82px #B300FF,
                0 0 92px #B300FF,
                0 0 102px #B300FF,
                0 0 151px #B300FF;
        }
    </style>

       <table class="center" border="0" cellspacing="0" cellpadding=0 width="1000">
           <tr class="neonText1">
               <td><font size="7">Заголовок</font></td>
               <td><font size="7">Дата публикации</font></td>
           </tr>
           <tr>
               <td><font size="5">{{ post.title }}</font></td>
               <td><font size="5">{{ post.created_at|date:"d.m.Y" }}</font></td>
           </tr>
       </table>
{% endblock title %}

{% block content %}
    <style>
        .neonText2 {
               color: #00FF33;
                text-shadow:
                    0 0 92px #00FF33,
                    0 0 102px #00FF33,
                    0 0 151px #00FF33;
        }
        .text
        {
            margin-left: 180px;
            width: 1000px;
            word-wrap: break-word;
        }
    </style>
<div class="animate__animated animate__fadeInUp" align="center">
        <h1 class="neonText2" >Содержание</h1>
        <br>
            <p><font size="4">{{ post.text|censor:"херня,говняное,конченое" }}</font></p>
        <font size="4">
            <a href="{% url 'post_update' post.id %}" ><u >Редактировать</u></a>
            <a href="{% url 'post_delete' post.id %}"><u> Удалить </u></a>
        </font>
</div>
{% endblock content %}