{% extends 'flatpages/default.html' %}

{% load censor_filters %}

{% load cache %}

{% cache 60 title %}

{% block title %}
<style>
.neonText {
  color: #00FFFF;
  text-shadow:
      0 0 7px #00FFFF,
      0 0 10px #00FFFF,
      0 0 21px #00FFFF,
      0 0 42px #00FFFF,
      0 0 82px #00FFFF,
      0 0 92px #00FFFF,
      0 0 102px #00FFFF,
      0 0 151px #00FFFF;
}
</style>
    <h2 class="neonText animate__animated animate__fadeInDown"><font size="10">Все новости и статьи</font></h2>
{% endblock title %}
{% endcache %}

{% block content %}

<div align="center">
    <form method="GET" action="{% url 'search_post' %}">
        <font size="4">
            {{ filter.form.title.label_tag }} {{ filter.form.title }}
            {{ filter.form.author__user.label_tag }} {{ filter.form.author__user }}
            {{ filter.form.created_at.label_tag }} {{ filter.form.created_at }}
            <input type="submit" value="Найти">
        </font>
    </form>
</div>
<style>
        table,
        td,
        th {
            text-align: center;
            padding: 10px;
        }
</style>
    {% if news %}
       <table border="0" cellspacing="0" cellpadding="10" width="1200" align="center">
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>

           {% for post in filter.qs %}
           <tr>
               <td><font size="5"><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></font></td>
               <td><font size="5">{{ post.created_at|date:"d.m.Y" }}</font></td>
               <td><font size="5">{{ post.text|truncatechars:20|censor:"херня,говняное,конченое" }}</font></td>
           </tr>
           {% endfor %}
       </table>
    {% else %}
        <h4 class="text-light"><font size="4">Новостей нет</font></h4>
    {% endif %}

{% if is_paginated %}
<div align="center"><font size="4">

    {% if page_obj.has_previous %}
            <a href="?page=1">Начало</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}

    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">>>></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Продолжение</a>
    {% endif %}
</font>
</div>
{% endif %}
{% endblock content %}